/* GENERAL (APLICA PARA TODO EL SITIO) */

* {
    margin: 0%;
    padding: 0%;
}

.bootstrapRepair {
    color: #000;
    font-weight: bold;
}

.bootstrapR2 {
    color: rgb(250, 217, 157);
    font-size: 140%;
}

.imagenDeFondo {
    background-image: url(../img/granos\ de\ cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0%;
    padding-bottom: 0%;
    background-attachment: fixed;
}

.newNav {
    display: flex;
    display: block;
    position: sticky;
    top: 0%;
    border-bottom: #000 3px solid;
    z-index: 1;
}

.bg-light {
    background-color: #4b380e !important;
}

.navbar-brand {
    color: rgb(250, 217, 157) !important;
}

.nav-link {
    color: rgb(250, 217, 157) !important;
}

.navIndex {
    display: flex;
    display: block;
    position: sticky;
    top: 0%;
    bottom: 0%;
    width: 100%;
    background-color: #4b380e;
    z-index: 1;
    border-top: #000 3px solid;
    border-bottom: #000 3px solid;
    overflow-x: hidden;
}

@media screen and (min-width: 768px) {
    #listaEncabezado {
        width: 50%;
        display: flex;
    } 
}

@media screen and (max-width: 768px) {
    #listaEncabezado {
        width: 30%;
        display: flex;
    } 
}

@media screen and (max-width: 560px) {
    #listaEncabezado {
        width: 7%;
        display: flex;
    } 
}

#listaEncabezado li {
    list-style: none;
    padding: 1.5% 12.5%;
}

#listaEncabezado a {
    text-decoration: none;
    color: rgb(250, 217, 157);
    font-size: 100%;
}

#listaEncabezado a:hover {
    color: black;
}

.sectionPrimerTexto {
    display: block;
    margin: 2.5%;
    padding: 2%;
    background-color: #755815;
    font-family: 'Anonymous Pro', monospace;
    font-size: 125%;
    color: rgb(0, 0, 0);
    opacity: 0.85;
}

.sectionPrimerTexto_texto {
    font-family: 'Fredericka the Great', cursive;
    font-size: 120%;
}

.sectionPrimerTexto p {
    color: rgb(250, 217, 157);
}

.footerSitio {
    background-color: #755815;
    margin: 0%;
    margin-top: 0.5%;
    padding: 0%;
    border-top: #000 3px solid;
    border-bottom: #000 3px solid;
}

.footerSitio_parrafo {
    background-color: #755815;
    margin: 0,5%;
    margin-bottom: 0%;
    padding: 0.25%;
    height: 1%;
    text-align: center;
    font-size: 80%;
    font-family: 'Anonymous Pro', monospace;
    font-weight: bold;
    font-style: italic;
    color: #000;
}

/* SECCIÓN INDEX */

.textoH1index{
    background-color: #b37211c0;
    text-align: center;
    line-height: 2;
    margin: 0%;
    padding: 0%;
    font-family: 'Fredericka the Great', cursive;
    font-size: 160%;
    border-bottom: #000 3px solid;
}

@media screen and (min-width: 768px){
    .textoH1index img {
        max-width: 12%;
        max-height: 12%;
        margin-top: 1.5%;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px){
    .textoH1index img {
        max-width: 25%;
        max-height: 12%;
        margin-top: 1.5%;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    #grillaIndex {
        display: grid;
        grid-template-areas:"titulo"
                            "foto2"
                            "article"
                            "foto"
                            "mapa"
                            "article2"
                            "footerIndex";
        grid-template-columns: (1fr);
        grid-template-rows: (7, 1fr);
        grid-gap: 1%;
    }
}

@media screen and (min-width: 768px) {
    #grillaIndex {
        display: grid;
        grid-template-areas:"titulo titulo titulo"
                            "article foto2 mapa"
                            "article foto mapa"
                            "article article2 article2";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 2fr 2fr 2fr;
        grid-gap: 1%;
    } 
}

@media screen and (min-width: 768px) {
    .primerH2index {
        display: flex;
        position: sticky;
        top: 7%;
        z-index: 1;
        font-family: 'Fredericka the Great', cursive;
        font-size: 160%;
        background-color: #755815;
        background-image: url(../img/cafefondo.png);
        background-size: contain;
        margin: 2% 0%;
        padding: 2%;
        border-top: #000 3px solid;
        border-bottom: #000 3px solid;
        color: rgb(250, 217, 157);
        grid-area: titulo;
    }
}

@media screen and (max-width: 768px){
    .primerH2index {
        display: block;
        font-family: 'Fredericka the Great', cursive;
        font-size: 120%;
        background-color: #755815;
        background-image: url(../img/cafefondo.png);
        background-size: contain;
        margin: 2% 0%;
        padding: 2%;
        opacity: 0.85;
        border-top: #000 3px solid;
        border-bottom: #000 3px solid;
        color: rgb(250, 217, 157);
        grid-area: titulo;
    }
}

.sectionPrimerTextoIndex {
    display: block;
    margin: 2.5%;
    padding: 2%;
    background-color: #755815;
    font-family: 'Anonymous Pro', monospace;
    font-size: 125%;
    color: rgb(0, 0, 0);
    border: #000 3px solid;
    opacity: 0.85;
    grid-area: article;
}

.sectionPrimerTextoIndex_texto {
    font-family: 'Fredericka the Great', cursive;
    font-size: 120%;
    color: #000;
    font-weight: bold;
}


.sectionPrimerTextoIndex p {
    color: rgb(250, 217, 157);
}

.imgCentrada2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5%;
    padding: 2%;
    grid-area: foto2;
}

.imgCentrada2 img {
    flex-wrap: wrap;
    max-width: 90%;
}

.imgCentrada {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: foto;
    border: #000 3px solid;
    background-color: #755815;
    opacity: 0.85;
    margin: 2.5%;
    padding: 2%;

}

.imgCentrada img {
    max-width: 100%;
    max-height: fit-content;
    flex-wrap: wrap;
}

.textoAdicional {
    display: block;
    margin: 1.5%;
    padding: 2%;
    background-color: #755815;
    font-family: 'Anonymous Pro', monospace;
    font-size: 125%;
    color: rgb(0, 0, 0);
    border: #000 3px solid;
    opacity: 0.85;
    grid-area: article2;
}

@media screen and (max-width: 768px) {
    .textoAdicional {
        margin-bottom: 25%;
    }
}

@media screen and (max-width: 550px) {
    .textoAdicional {
        margin-bottom: 35%;
    }
}

@media screen and (max-width: 420px) {
    .textoAdicional {
        margin-bottom: 50%;
    }
}

@media screen and (max-width: 345px) {
    .textoAdicional {
        margin-bottom: 80%;
    }
}

.textoAdicional_texto {
    font-family: 'Fredericka the Great', cursive;
    font-size: 120%;
    color: #000;
    font-weight: bold;
}

.textoAdicional p {
    color: rgb(250, 217, 157);
}

.mapaCementerio {
    display: flex;
    opacity: 0.85;
    font-family: 'Fredericka the Great', cursive;
    font-size: 125%;
    text-align: center;
    background-color: #755815;
    padding: 2%;
    margin: 2.5%;
    border: #000 3px solid;
    grid-area: mapa;
}

.mapaCementerio iframe {
    max-width: 93%;
    height: 82%;
}

/* SECCIÓN PRODUCTOS*/
.textoH1productos{
    background-color: #5c2d0ec0;
    text-align: center;
    line-height: 2;
    margin: 0%;
    padding: 0%;
    font-family: 'Fredericka the Great', cursive;
    font-size: 160%;
    border-bottom: #000 3px solid;
}

@media screen and (min-width: 768px){
    .textoH1productos img {
        max-width: 12%;
        max-height: 12%;
        margin-top: 1.5%;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px){
    .textoH1productos img {
        max-width: 25%;
        max-height: 12%;
        margin-top: 1.5%;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    #grillaProductos {
        display: grid;
        grid-template-areas:"tituloP tituloP"
                            "textoP textoP"
                            "producto1 producto2"
                            "producto3 producto4";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (1fr, 1fr, 3fr, 3fr);
        grid-gap: 1%;
        margin-bottom: 2.5%;
    }
}

@media screen and (max-width: 768px) {
    #grillaProductos {
        display: grid;
        grid-template-areas:"tituloP"
                            "textoP"
                            "producto1"
                            "producto2"
                            "producto3"
                            "producto4";
        grid-template-columns: repeat(1fr);
        grid-template-rows: (1fr, 1fr, 3fr, 3fr, 3fr, 3fr);
        grid-gap: 1%;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 550px) {
    #grillaProductos {
        margin-bottom: 15%;
    }
}

@media screen and (max-width: 420px) {
    #grillaProductos {
        margin-bottom: 20%;
    }
}

@media screen and (max-width: 345px) {
    #grillaProductos {
        margin-bottom: 35%;
    }
}

@media screen and (min-width: 768px) {
    .primerH2productos {
        display: flex;
        position: sticky;
        top: 7%;
        z-index: 1;
        font-family: 'Fredericka the Great', cursive;
        font-size: 160%;
        background-color: #755815;
        background-image: url(../img/cafefondo.png);
        background-size: contain;
        margin: 2% 0%;
        padding: 2%;
        border-top: #000 3px solid;
        border-bottom: #000 3px solid;
        color: rgb(250, 217, 157);
        grid-area: tituloP;
    }
}

@media screen and (max-width: 768px){
    .primerH2productos {
        display: block;
        font-family: 'Fredericka the Great', cursive;
        font-size: 120%;
        background-color: #755815;
        background-image: url(../img/cafefondo.png);
        background-size: contain;
        margin: 2% 0%;
        padding: 2%;
        opacity: 0.85;
        border-top: #000 3px solid;
        border-bottom: #000 3px solid;
        color: rgb(250, 217, 157);
        grid-area: tituloP;
    }
}

.sectionPrimerTextoProductos {
    display: block;
    margin: 2.5%;
    padding: 1.25%;
    background-color: #755815;
    font-family: 'Anonymous Pro', monospace;
    font-size: 125%;
    color: rgb(0, 0, 0);
    border: #000 3px solid;
    opacity: 0.85;
    grid-area: textoP;
}

.sectionPrimerTextoProductos_texto {
    font-family: 'Fredericka the Great', cursive;
    font-size: 120%;
}

.sectionPrimerTextoProductos p {
    color: rgb(250, 217, 157);
}

.formatoProductos {
    display: flex;
    margin: 2.5%;
    padding: 1.25%;
    background-color: #755815;
    font-family: 'Anonymous Pro', monospace;
    font-size: 125%;
    color: rgb(0, 0, 0);
    border: #000 3px solid;
    opacity: 0.85;
}

.formatoProductos h4 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 120%;
}

.formatoProductos p {
    color: rgb(250, 217, 157);
}

.formatoProductos img {
    max-width: 50%;
    max-height: fit-content;
    flex-wrap: wrap;
}

.producto1 {
    grid-area: producto1;
    display: grid;
    grid-template-areas:"img1 titulo1"
                        "img1 text1";
    grid-template-columns: repeat(1fr, 2fr);
    grid-template-rows: (2, 1fr);
    grid-gap: 1%;
}

.producto1 img {
    grid-area: img1;
    max-width: 100%;
}

.producto1 h4 {
    grid-area: titulo1;
    padding: 2%;
}

.producto1 p {
    grid-area: text1;
    padding: 2%;
}

.producto2 {
    grid-area: producto2;
    display: grid;
    grid-template-areas:"img2 titulo2"
                        "img2 text2";
    grid-template-columns: repeat(1fr, 2fr);
    grid-template-rows: (2, 1fr);
    grid-gap: 1%;
}

.producto2 img {
    grid-area: img2;
    max-width: 100%;
}

.producto2 h4 {
    grid-area: titulo2;
    padding: 2%;
}

.producto2 p {
    grid-area: text2;
    padding: 2%;
}

.producto3 {
    grid-area: producto3;
    display: grid;
    grid-template-areas:"img3 titulo3"
                        "img3 text3";
    grid-template-columns: repeat(1fr, 2fr);
    grid-template-rows: (2, 1fr);
    grid-gap: 1%;
}

.producto3 img {
    grid-area: img3;
    max-width: 100%;
}

.producto3 h4 {
    grid-area: titulo3;
    padding: 2%;
}

.producto3 p {
    grid-area: text3;
    padding: 2%;
}

.producto4 {
    grid-area: producto4;
    display: grid;
    grid-template-areas:"img4 titulo4"
                        "img4 text4";
    grid-template-columns: repeat(1fr, 2fr);
    grid-template-rows: (2, 1fr);
    grid-gap: 1%;
}

.producto4 img {
    grid-area: img4;
    max-width: 100%;
}

.producto4 h4 {
    grid-area: titulo4;
    padding: 2%;
}

.producto4 p {
    grid-area: text4;
    padding: 2%;
}

/* SECCIÓN PROVEEDORES*/
.textoH1proveedores{
    background-color: #1f5a5ec0;
    text-align: center;
    line-height: 2;
    margin: 0%;
    padding: 0%;
    font-family: 'Fredericka the Great', cursive;
    font-size: 160%;
    border-bottom: #000 3px solid;
}

@media screen and (min-width: 768px){
    .textoH1proveedores img {
        max-width: 12%;
        max-height: 12%;
        margin-top: 1.5%;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px){
    .textoH1proveedores img {
        max-width: 25%;
        max-height: 12%;
        margin-top: 1.5%;
        cursor: pointer;
    }
}

.textoH1proveedores h2 {
    color: rgb(250, 217, 157);
}

/* SECCIÓN SUSTENTABILIDAD */

.textoH1sustentabilidad{
    background-color: #28531ec0;
    text-align: center;
    line-height: 2;
    margin: 0%;
    padding: 0%;
    font-family: 'Fredericka the Great', cursive;
    font-size: 160%;
    border-bottom: #000 3px solid;
}

@media screen and (min-width: 768px){
    .textoH1sustentabilidad img {
        max-width: 12%;
        max-height: 12%;
        margin-top: 1.5%;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px){
    .textoH1sustentabilidad img {
        max-width: 25%;
        max-height: 12%;
        margin-top: 1.5%;
        cursor: pointer;
    }
}

.textoH1sustentabilidad h2 {
    color: rgb(250, 217, 157);
}

/* SECCIÓN CONTACTO */

.textoH1contacto{
    background-color: #61200fc0;
    text-align: center;
    line-height: 2;
    margin: 0%;
    padding: 0%;
    font-family: 'Fredericka the Great', cursive;
    font-size: 160%;
    border-bottom: #000 3px solid;
}

@media screen and (min-width: 768px){
    .textoH1contacto img {
        max-width: 12%;
        max-height: 12%;
        margin-top: 1.5%;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px){
    .textoH1contacto img {
        max-width: 25%;
        max-height: 12%;
        margin-top: 1.5%;
        cursor: pointer;
    }
}

.textoH1contacto h2 {
    color: rgb(250, 217, 157);
}

.fieldsetContacto {
    background-color: white;
    margin: 2.5%;
    display: inline-block;
    font-size: 125%;
}

.fieldsetContacto legend {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

